.footer .container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo--footer {
  font-style: normal;
  color: #ffffff;
}
.footer {
  background: #2f303a;
}
.footer__address {
  margin-top: 20px;
  font-style: normal;
  &__element:not(:last-child) {
    margin-bottom: 10px;
  }
  &__location {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  &__contacts {
    color: rgba(255, 255, 255, 0.6);
  }
}
.footer__sm {
  margin-top: 12px;
  margin-left: 70px;
  &__description {
    margin-bottom: 20px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}
.social-media {
  &__link--footer {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
  }
  &__icon--footer {
    fill: #ffffff;
  }
}
.footer__email {
  margin-top: 12px;
  margin-left: 93px;
  &__description {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__form {
    display: flex;
    margin-top: 20px;
  }
  &__input {
    background: transparent;
    margin-right: 12px;
    padding: 15px 16px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #ffffff;
    &:hover,
    &:focus {
      border-color: #ffffff;
      outline: none;
    }
    &::placeholder {
      font-family: var(--main-font);
      font-weight: 400;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }
  }
  &__button {
    background: #2196f3;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
  &__icon {
    fill: #ffffff;
    margin-left: 10px;
    width: 24px;
    height: 24px;
  }
}
