.strength {
  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  &__element {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: calc((100% - 15px * 2) / 2);
      &:not(:nth-child(n + 3)) {
        margin-bottom: 30px;
      }
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 15px * 6) / 4);
    }
    &__img {
      background-color: #f5f4fa;
      height: 120px;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__icon {
      width: 70px;
      height: 70px;
    }
    &__title {
      margin-bottom: 10px;
      @include font(700, 14px, 1.14);
      text-transform: uppercase;
      @media screen and (max-width: 1199px) {
        text-align: center;
      }
    }
    &__description {
      @include font(400, 14px, 1.7);
      color: var(--greyish);
    }
    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }
  }
}
.strength .container {
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}
