body {
  font-family: var(--main-font);
  color: var(--blackish);
  letter-spacing: 0.03em;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
button {
  padding: 0;
  border: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
address {
  font-style: normal;
}
section,
footer {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}
