.portfolio {
  &__navigation {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px 25px;
    @media screen and (min-width: 768px) {
      margin: 0 auto 25px;
    }
    .navigation__element {
      margin: 0 4px 15px;
      .list__button {
        background: #f5f4fa;
        padding: 6px 22px;
        outline: none;
        border: none;
        border-radius: 4px;
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        letter-spacing: 0.03em;
        color: inherit;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
          background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
          cursor: pointer;
          color: #ffffff;
          background-color: var(--blueish);
        }
      }
    }
  }
  &__content {
    margin: 0 -15px -30px;
    display: flex;
    flex-wrap: wrap;
  }
}
.portfolio__card {
  margin: 0 15px 30px;
  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 3);
  }
  &__link {
    outline: none;
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  &__img-container {
    position: relative;
    overflow: hidden;
  }
  &__overlay {
    background: rgba(33, 150, 243, 0.9);
    padding: 77px 24px;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    @include font(400, 18px, 1.56);
    color: #ffffff;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .portfolio__card__link:hover &,
    .portfolio__card__link:focus & {
      transform: none;
    }
  }
  &__info {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
  }
  &__title {
    margin-bottom: 4px;
    @include font(700, 18px, 2);
    letter-spacing: 0.06em;
  }
  &__description {
    @include font(400, 16px, 1.88);
    color: var(--greyish);
  }
}

// .portfolio .container {
//   padding: 94px 0;
// }
// //portfolio navigation
// .portfolio__navigation {
//   margin-bottom: 50px;
//   display: flex;
//   justify-content: center;
//   .navigation__element:not(:last-child) {
//     margin-right: 8px;
//   }
//   .list__button {
//     background: #f5f4fa;
//     padding: 6px 22px;
//     border: none;
//     border-radius: 4px;
//     font-family: inherit;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.63;
//     letter-spacing: 0.03em;
//     color: inherit;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//       background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     &:hover,
//     &:focus {
//       cursor: pointer;
//       color: #ffffff;
//       background-color: var(--blueish);
//     }
//   }
// }
// //portfolio content
// .portfolio__content {
//   display: flex;
//   flex-wrap: wrap;
// }
// .portfolio__card{
//   &:not(:nth-child(-n + 3)) {
//     margin-top: 30px;
//   }
//   &:not(:nth-child(3n)) {
//     margin-right: 30px;
//   }
//   &__link {
//     display: block;
//     width: min-content;
//     transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     &:hover,
//     &:focus {
//       box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
//         1px 4px 6px rgba(0, 0, 0, 0.16);
//     }
//   }
//   &__img {
//     display: block;
//   }
//   &__img-container {
//     position: relative;
//     overflow: hidden;
//   }
//   &__overlay {
//     background: rgba(33, 150, 243, 0.9);
//     display: block;
//     position: absolute;
//     top: 0;
//     left: 0;
//     padding: 63px 24px;
//     width: 100%;
//     height: 100%;
//     transform: translateY(100%);
//     overflow: auto;
//     font-size: 18px;
//     line-height: 1.56;
//     color: #ffffff;
//     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     .portfolio__card__link:hover &,
//     .portfolio__card__link:focus & {
//       transform: none;
//     }
//   }
//   &__info {
//     padding: 20px 24px;
//     border: 1px solid #eeeeee;
//   }
//   &__title {
//     margin-bottom: 4px;
//     font-weight: 700;
//     font-size: 18px;
//     line-height: 2;
//     letter-spacing: 0.06em;
//   }
//   &__description {
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 1.88;
//     letter-spacing: 0.03em;
//     color: var(--greyish);
//   }
// }
